* {
  box-sizing: border-box;
}

html{
    font-family: Arial, Helvetica, sans-serif;
    font-size:16px;
}




.header{
    height:3em;
    padding: 1em;
    background-color: #eee;
    display: flex;
    align-items: center;
}

.button{
    font-size:2em;
    padding: 0;
    border: none;
    outline: none;
    background-color:transparent;
}

.nav-list{
    padding: 0;
    list-style: none;
    width: 20%;
    padding:0.5em;
}

.nav-list-item{
    background-color:#808080;
   line-height: 2em;
    margin-bottom:0.5em;
}

.nav-list-link{
    color:white;
    text-decoration:none;
    padding: 0 0.5em;
    display: block; /*дисплей*/
    overflow: hidden; /*переполнение*/
    text-overflow: ellipsis;/*троеточие*/
    white-space:nowrap;
}


.main {
    display: none;
}


/*@media screen and (max-width: 599px) {
    .header {
        display: block;
    }

    .main {
        display: none;
    }
}*/



@media screen and (min-width: 600px) {
    .header {
        display: none;
    }

    .main {
        display: block;
    }
}





