* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

header,
footer {
    display: flex;
    flex-wrap: wrap;
    height: 40px;
}

header {
    background-color: yellow;
}

footer {
    justify-content: center;
    align-items: center;
    background-color: green;
}

header > ul {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;

    list-style: none;
}

header > ul > li {
    margin-left: 16px;
}

main {
    display: flex;
    flex-grow: 1;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    background-color: pink;
}

aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    background-color: grey;
}

aside > h2 {
    margin-top: 16px;
    margin-bottom: 16px;
}

aside > ul {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 0;
    margin: 0;

}

aside > ul > li {
    align-items: flex-start;
    line-height: 40px;
    list-style: none;
    margin-left: 16px;
}