html {
    font-size: 24px;
}

div {
    margin: 16px;
    border: 1px solid burlywood;
}

.horizontal > span {
    background-color: aqua;
}
.vertical > span {
    background-color: coral;
}

.horizontal {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 50px;
}

.vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 200px;
}