.icon {
    height: 100px;
    width: 100px;
    background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+13/task2/sprites.png);
    background-position-x: -200px;
    margin: 100px;
}

.icon:hover {
    background-position-y: 100px;
}