.anchor:link {
    background-color: black;
    color: white;
}

.anchor:visited {
    background-color: orange;
    color: green;
}

.anchor:active, button:active {
    border: 3px solid red;
}

.anchor:hover {
    font-size: 24px;
}

button:disabled {
    border: 2px dashed grey;
}

button:enabled {
    color: white;
    background-color: grey;
}

.search:focus{
    background-color:orange;
}

input[type="checkbox"]:checked {
    margin-left: 20px;
}


/*.anchor:link {*/
/*    background-color: black;*/
/*    color: white*/
/*}*/

/*.anchor:visited {*/
/*    background-color: orange;*/
/*    color: green;*/
/*}*/

/*button:active, .anchor:active {*/

/*    border: 3px solid red;*/
/*}*/

/*.anchor:hover {*/
/*    font-size: 24px;*/
/*}*/

/*button:disabled {*/
/*    border: 2px dashed gray;*/
/*}*/

/*button:hover:enabled {*/

/*    background-color: gray;*/
/*    color: white;*/
/*}*/

/*input:focus {*/
/*    background-color: orange;*/
/*}*/

/*.confirm-checkbox:checked {*/
/*    margin-left:20px;*/
/*}*/