
* {
    box-sizing: border-box;
}

.dropdown{
    position: relative;
    margin:16px;
    display: inline-block;
    height:50px;
}


.menu-button{
    padding:16px;
    opacity:0.8;
    font-size:16px;
    color:white;
    background-color:darkgreen;
    display: inline-block;
}

.menu-button:hover{
    opacity:1;
    cursor:pointer;
}


.menu-list{
    padding:0;
    margin:0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    background-color:lightcyan;
    min-width: 120px;
    list-style-type: none;
    position: absolute;
    display:none;
}

.menu-item{
    padding:16px;
    color:black;
}

.menu-item:hover{
    background-color: ghostwhite;
}
/*мини-реактивность*/
.dropdown:hover .menu-list {
    display: block;
}


