
/*html {*/
/*    font-size: 24px;*/
/*}*/

/*div {*/
/*    margin: 16px;*/
/*    border: 1px solid burlywood;*/
/*}*/

/*.horizontal > span {*/
/*    background-color: aqua;*/
/*}*/


/*.vertical>span {*/
/*    background-color: coral;*/

/*}*/

/*.horizontal {*/
/*    display:flex;*/
/*    align-items: center;*/
/*    justify-content: space-around;*/

/*    height:50px;*/
/*}*/



/*.vertical{*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*    justify-content: space-around;*/
/*    height:200px;*/

/*}*/



html {
    font-size: 24px;
}

div {
    margin: 16px;
    border: 1px solid burlywood;
}

.horizontal > span {
    background-color: aqua;
}
.vertical > span {
    background-color: coral;
    margin:auto;

}


.horizontal {
    display:flex;
    height: 50px;
    align-items: center;
    justify-content:space-around;
}

.vertical {
    display:flex;
    height:200px;
    flex-direction: column;
}










/*html {*/
/*    font-size: 24px;*/
/*}*/

/*div {*/
/*    margin: 16px;*/
/*    border: 1px solid burlywood;*/
/*}*/







/*.horizontal > span {*/
/*    background-color: aqua;*/
/*}*/
/*.vertical > span {*/
/*    background-color: coral;*/
/*}*/

/*.horizontal {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: space-around;*/
/*    height: 50px;*/
/*}*/

/*.vertical {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*    justify-content: space-around;*/
/*    height: 200px;*/
/*}*/