.main-video{
    width:500px;
    margin: 0 auto;
    margin-top:200px;
    display: block;
    height:auto;
}




/*
.main-video {
    display: block;
    width: 500px;
    height: auto;
    margin: 0 auto;
    margin-top: 200px;
}*/
