

html {
    font-family: 'Verdana';
}

h1 {
    font-size: 74px;
    text-align:center;
    overflow: hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
    width: 50%;
    margin: auto;
}
/*неперенос и обрезание текста

width: 50vw ===50% (ширина видимой области экрана)
 white-space:nowrap;
    text-overflow: ellipsis;

*/
div {
    background-color:coral;
    height:200px;
    line-height: 200px;
    color:white;
    text-transform:uppercase;
    text-align:center;
}





















/*

@font-face {
    font-family: 'Verdana';
    src: url(Verdana.ttf);
}

html {
    font-family: Verdana, sans-serif;
}

h1 {
    width: 50%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 74px;
    text-align: center;
    margin: auto;
}

div {
    height: 200px;
    line-height: 200px;
    background-color: coral;
    color: white;
    text-transform: uppercase;
    text-align: center;
}
*/
