grow
.navigation {
    background-color: #ff7f50;
    min-height: 200px;
    display: flex;
    flex: 1;
}

.products-list {
    background-color: #006400;
    min-height: 200px;
    display: flex;
    flex: 1;
}

.news {
    background-color: #0ff;
    min-height: 200px;
    display: flex;
    flex: 1;
}

span {
    text-transform: lowercase;
    font-family: "Verdana";
    padding: 8px;
    margin: auto;
    background-color: #faebd7;
    border-radius: 4px;
}

@media screen and (min-width: 600px) {
    .products {
        display: flex;
        flex: 2;
    }
}


@media screen and (min-width: 900px) {
    .content {
        display: flex;
    }
}



/*ТО, ЧТО НУЖНО ЗНАТЬ / width:calc(100%/3*2)  !!!

.navigation {
    background-color: #ff7f50;
    min-height: 200px;
    display: flex;

}

.products-list {
    background-color: #006400;
    min-height: 200px;
    display: flex;

}

.news {
    background-color: #0ff;
    min-height: 200px;
    display: flex;

}

span {
    text-transform: lowercase;
    font-family: "Verdana";
    padding: 8px;
    margin: auto;
    background-color: #faebd7;
    border-radius: 4px;
}

@media screen and (min-width: 600px) {
    .products {
        display: flex;
    }

    .products> div {
        width: 50%;
    }
}


@media screen and (min-width: 900px) {
    .content {
        display: flex;
    }

    .products{
        width:calc(100%/3*2)
    }

    .news{
        width:calc(100%/3)
    }
}


*/
