*{
    box-sizing: border-box;
}

table, td {
    border:1px solid black ;
    border-collapse: collapse;

}

table {
    width: 500px;
    margin: 16px;
    text-align: center;
}

td{
    widht:50px;
    height:50px;
    text-align: center;
}

.number-ln:nth-child(even) td:nth-child(odd) {
    background-color:black;
}

.number-ln:nth-child(odd) td:nth-child(even) {
    background-color:black;
}


.letter-ln td,
.number-ln td:first-child,
.number-ln td:last-child {
    border:none;
    background-color:white !important;
}
