@import "breakpoints.scss";

* {
  box-sizing: border-box;
}


body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;

  @include landscape {
    flex-direction: row;
  }
}

.square {
  height: 100px;
  width: 100px;
  margin: 8px;
  background-color: #ff7f50;

  @include sm {
    background-color: #8a2be2;
  }

  @include lg {
    background-color: #a61;
  }

  @include extra-lg {
    background-color: #c47;
  }
}