.text {
    margin: 16px;
    border-bottom: 1px dotted black;
    display: inline-block;
    position: relative;
}

.tooltip {
 background-color:grey;
    border-radius: 4px;
    padding:8px;
    bottom:-40px;
    display:none;
    color: white;
    position: absolute;
}

.text:hover .tooltip {
    display: block;
}


/*
.text {
    display: inline-block;
    position: relative;
    border-bottom: 1px dotted black;
    margin: 16px;
}

.tooltip {
    display: none;
    position: absolute;
    bottom: -40px;
    background-color: gray;
    color: white;
    border-radius: 4px;
    padding: 8px;
}

.text:hover .tooltip {
    display: block;
}*/
