
.container {
    display: flex; /*по главной оси в ряд */
}



div.block {
    background-color: coral;
    margin: 8px;
    height: 100px;

    flex-shrink: 0; /* 1- сжимаются сильнее, 0- нет, по главной оси в ряд */
    flex-grow: 1;  /*1 - последние растут , чем больше значение, тем более пропорционально элемент забирает доступное пространство*/
}

/*flex-wrap: wrap -перенос на следующую строку*/
