/*.container {*/
/*    display: flex;*/
/*    flex-wrap: wrap;*/

/*}*/


/*div.block {*/
/*    flex-grow: 1;*/
/*    flex-shrink: 0;*/
/*    min-width: 100px;*/
/*    background-color: coral;*/
/*    margin: 8px;*/
/*    height: 100px;*/
/*}*/



.container {
    display: flex;
    flex-wrap: wrap;
}



div.block {
    background-color: coral;
    margin: 8px;
    height: 100px;
    width: 100px;
    flex-shrink: 0;
    flex-grow: 1;
}


