div {
    border: 2px solid black;
    margin: 50px;
}

.div1 {
    margin: 50px;
    background-color: blue;
}

.div2 {
    background-color: yellow;
}

.div3 {
    background-color: green;
}

.div4 {
    background-color: pink;
    height: 100px;
}

