[data-description="anchors"] {
    background-color: grey;
}

[data-description] {
    font-size: 24px;
}

a[href][target] {
    color: green;
}

input[type="text"] {
    background-color: orange;
}


/*[data-description="anchors"] {*/
/*    background-color:gray;*/
/*}*/

/*[data-description] {*/
/*    font-size:24px;*/
/*}*/

/*a[href][target] {*/
/*    color:green;*/
/*}*/

/*input[type="text"] {*/
/*    background-color:orange;*/
/*}*/