* {
    box-sizing: border-box;
}

.figure {
        width: 100px;
        height: 50px;
        margin-top: 50px;
        margin-left: 50px;
}




.rectangle {
    border-radius: 10px;
    background-color:forestgreen;
}


.oval {
    border-radius: 50%;
    background-color: darkmagenta;
}

.circle {
    border-radius: 50%;
    height: 100px;
    background-color: aquamarine;
}


.triangle {
    height: 100px;
    border: 50px solid transparent;
    border-top-color: brown;
}


/*.figure {*/
/*    width: 100px;*/
/*    height: 50px;*/
/*    margin-top: 50px;*/
/*    margin-left: 50px;*/
/*}*/

/*.rectangle {*/
/*    border-radius: 16px;*/
/*    background-color: forestgreen;*/
/*}*/

/*.oval {*/
/*    border-radius: 50%;*/
/*    background-color: darkmagenta;*/
/*}*/

/*.circle {*/
/*    padding-bottom: 50px;*/
/*    border-radius: 50%;*/
/*    background-color: aquamarine;*/
/*}*/

/*.triangle {*/
/*    box-sizing: border-box;*/
/*    border: 50px solid white;*/
/*    border-top-color: brown;*/
/*}*/