* {
    box-sizing: border-box;
}


.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.spinner{
    position: relative;
}


.spinner-text {
    font-family: monospace;
    font-size: 16px;
    text-transform: uppercase;

    animation: blinking 2s;
    animation-iteration-count:infinite;
    animation-timing-function: linear;
}



.rect {
    background-color:black;
    width: 10px;
    height:4px;
    border-radius: 4px;

    position: absolute;
    animation: blinking 2s, moving 2s;
    animation-iteration-count:infinite;
    animation-direction:alternate;
}


@keyframes moving {
    from {
        left: 0;
        opacity: 1;
    }
    to {
        left: 70px;
    }
}

@keyframes blinking {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

