
.thumb{
    margin:8px;
}

.gallery:hover{
    cursor:all-scroll;
    overflow: auto;
}


.gallery{
    display: flex;
    overflow:hidden;
}


/*
body {
    overflow-x: hidden;
}

.gallery:hover {
    overflow-x: auto;
}

.thumb {
    margin: 8px;
}

.gallery {
    display: flex;
    overflow: hidden;
    cursor: all-scroll;
}
*/
